@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }

body {
    display: flex;
    align-items: center;
    background: rgb(32, 32, 32);
    color: white;
}

section {
    display: flex;
    align-items: center;

    background-color: white;
    color: black;
   

}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: rgb(176, 176, 176);

}